<div class="header">
    Existing Users
</div>
<table class="table table-striped bg-light">
    <tr>
        <th> User Id </th>
        <th> User Name </th>
        <th> Position </th>
        <th> General Info </th>
    </tr>

    <tr *ngFor="let user of userList">
        <td>{{user.userid}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.general_info}}</td>
    </tr>
</table>

<button class="btn btn-primary" [routerLink]="['/admin-dashboard/register-user']">Add User</button>
