

.header{
  padding: 20px;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color:darkcyan;
}

.myRow {
padding: 15px;
background-color: rgb(164, 234, 255);
border-bottom: 2px solid black;
}
img{height: 300px;}


#profile div div h1 {
padding: 2px;
}


.notification-box{
padding-top: 10px important;
}

