<div class="container">
    <h3>Production Target: {{productionTarget}} </h3>
    <h3 id="currentProduction">Current Production : 0</h3>
    <h3> Line Name: {{machineListInLayout[0].assemblyLineName}}</h3>
    <div id="body">
        <div *ngFor="let machine of machineListInLayout; index as i;" class="row">
            <div class="stats col-sm-9">
                {{machine.machineModel}}, 
                {{machine.perHourProduction}}
            </div>
            <div *ngIf="congestionStatus[i].congestionStatus==true" class="congestion col-sm-3">
                CONGESTION DETECTED!
            </div>
                
        </div>
    </div>

    <button class="btn btn-primary" (click)="gotoLayoutEdit()">Edit Layout</button>
</div>
