<h4>Download PDF:</h4>
<button (click)="generatePDF('gpr')">View MEMO</button>
<button (click)="generatePDF('gssm')">View System Start Memo</button>
<button (click)="generatePDF('generate_quality_report')">View Quality Report</button>
<button (click)="generatePDF('generate-issues-report')">View Issues Report</button>

<a href="http://192.168.0.102:4747/" target="_blank"><button> View Live </button></a>

<div class="body">
    <app-reports></app-reports>
    <app-quality-report></app-quality-report>
    <app-congestion-issue-report></app-congestion-issue-report>
</div>
