

<div *ngFor="let productionData of generalProductionInfo">
    <div>
        Product Name: {{productionData.productName}}
        Production Target: {{productionData.productionTarget}}
        Production Reached: {{productionData.productionReached}}
        Description: {{productionData.viewerInfo}}
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Assembly Line</td>
                    <td>Total Production</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let line of productionData.lineProductions">
                    <td>{{line.name}}</td>
                    <td>{{line.TotalProduction}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="productList">
    <div *ngFor="let productionData of generalProductionInfo">
        <button (click)="loadLineList(productionData.productionId)" style="float:left">{{productionData.productName}}</button>
    </div>
</div>

<div class="lineList">
    <div *ngFor="let line of lineList">
        <button (click)="loadLineLayout(line.assemblyLineId)" style="float: left;">{{line.name}}</button>
    </div>
</div>
<!--
<div *ngFor="let machine of lineLayout" class="layout">
    <div *ngIf="machine.markedStatus==1">Marked!</div>
    <div class="machine row">
        {{machine.machineModel}} 
        {{machine.machineType}}
        <button (click)="showCongestionImage('http://localhost:1401/congestion/image' + machine.imageFileUrl)"> View Congestion Status</button>
    </div>
    <div *ngIf="machine.congestionStatus==true">CONGESTION DETECTED!</div>
</div>
-->


<table class="table table-striped">
    <thead>
        <tr>
            <td>Machine Model</td>
            <td>Machine Type</td>
            <td>Houry Production</td>
            <td>Live!</td>
            <td>Marked?</td>
            <td>Live Camera(Optional)</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let machine of lineLayout" [ngStyle]="{'border': machine.congestionStatus == true ? '4px groove red' : '1px solid black'}">
            <td>{{machine.machineModel}}</td>
            <td>{{machine.machineType}}</td>
            <td>{{machine.hourlyProduction}}</td>
            <td><button (click)="showCongestionImage('http://localhost:1401/congestion/image' + machine.imageFileUrl)"> View Congestion Status</button></td>
            <td *ngIf="machine.markedStatus==1"> Marked </td>
            <td *ngIf="machine.markedStatus!=1"> No </td>
            <td *ngIf="machine.camera_link!=null"><button (click)="openCamera(machine.camera_link)">Open Camera</button></td>
            <td *ngIf="machine.camera_link==null"> No Camera </td>

        </tr>
    </tbody>
</table>

<hr>
<h4>Download PDF:</h4>
<button (click)="openPDF()">View MEMO</button>
<a href="http://192.168.0.102:4747/" target="_blank"><button> View Live </button></a>
