
.header{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color:darkcyan;
}

.mat-icon {
    vertical-align: middle;
}


.productName{
    float:left; 
    margin-left: 20px;
    width: 10%;
}

.lineList{
    background-color: aqua;
    padding: 50px;
    margin-top: 20px;
    border-top: 2px solid black;
}
.machine{
    height: 30px;
    width: 50%;
    margin: auto;
    background-color: chartreuse;
    margin-top: 10px;
}

.layout div {
    float: left;
}