<!-- Register Assembly Line -->
<div class="row" id="registerAssemblyLine">
<div class="p-5 text-center bg-light">
    <h4 class="mb-3">Register Assembly Line</h4>
</div>


<div class="form-group">
    <label for="nameAssemblyLine">Name of Assembly Line:</label>
    <input type="text" class="form-control" id="nameAssemblyLine">
</div>
<div class="form-group">
    <label for="capacity">Machine Capacity:</label>
    <input type="number" class="form-control" id="capacity">
</div>
<div class="form-group">
    <label for="LCUserId">Assigned Line Chief</label>
    <input type="text" class="form-control" id="LCUserId">
</div>
<!--<div class="form-group">
    <span>Select Floor</span>
    <select class="form-control" name="floor" [(ngModel)]="floor">
      <option value="1">First Floor</option>
      <option value="2">Second Floor</option>
      <option value="3">Third Floor</option>
      <option value="4">Fourth Floor</option>
    </select>
</div> -->

<div class="form-group">
    <label>Assigned Supervisor</label>
    <input type="text" class="form-control" id="supervisorId">
</div>

<div class="form-group">
    <label for="otherInfo">Other Information:</label>
    <input type="text" class="form-control" id="otherInfo">
</div>

<button type="submit" class="btn btn-default" (click)="registerAssemblyLine()">Submit</button>
<span id="assemblyLineRegistrationStatus"></span>
</div>

<button [routerLink]="['/pm-dashboard/resources']"> Go Back </button>
