<!-- Register Assembly Line -->
<div class="row" id="registerAssemblyLine">
<div class="p-5 text-center bg-light">
    <h4 class="mb-3">Register Assembly Line</h4>
</div>


<div class="form-group">
    <label for="nameAssemblyLine">Name of Assembly Line:</label>
    <input type="text" class="form-control" id="nameAssemblyLine">
</div>
<div class="form-group">
    <label for="capacity">Machine Capacity:</label>
    <input type="number" class="form-control" id="capacity">
</div>
<div class="form-group">
    <label for="otherInfo">Assigned Line Chief (TODO):</label>
    <input type="text" class="form-control">
</div>
<div class="form-group">
    <label for="otherInfo">Other Information:</label>
    <input type="text" class="form-control" id="otherInfo">
</div>

<button type="submit" class="btn btn-default" (click)="registerAssemblyLine()">Submit</button>
<span id="assemblyLineRegistrationStatus"></span>
</div>