
<div class="body">
    <div *ngFor="let productionData of generalProductionInfo" class="productionBox">
        <pre>
            Product Name: {{productionData.productName}}
            Production Target: {{productionData.productionTarget}}
            Production Reached: {{productionData.productionReached}}
            Description: {{productionData.viewerInfo}}
        </pre>
    
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Assembly Line</td>
                        <td>Total Production</td>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let line of productionData.lineProductions">
                        <td>{{line.name}}</td>
                        <td>{{line.TotalProduction}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <hr>