
<div class="row">
    <div class="col-sm-5" style="margin-top: 50px;">
        As an production Manager User, your contributions are integral to ensuring smooth assembly line operations, promoting productivity, and driving the success of the manufacturing process.
        <figure>
        <blockquote class="blockquote">
            <p>  </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Owner of the <cite title="Source Title">Versatile Garments Ltd.</cite>
        </figcaption>
        </figure>
    </div>

    <div class="col-sm-7">
        <img src="../../../assets/admin-about-picture.jpg">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-5">
        <img src="../../../assets/production-manager-about.jpg">
    </div>
    <div class="col-sm-7 aboutInfo">
        <h3>Who is Production Manager?</h3>
        <p>The production manager is a key role responsible for overseeing and managing production operations, ensuring efficient utilization of resources, and meeting production targets.
        </p>
    </div>
</div>

<hr>

<div class="row" style="margin-top:50px;">
    <table class="table table-striped">
        <thead style="background-color: black; color: white;">
            <tr>
                <th>Responsibility</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Managing Assembly line layout</td>
                <td>Designing and optimizing assembly line layouts, setting production targets, monitoring performance, and addressing quality issues to ensure smooth production operations.</td>
            </tr>
            <tr>
                <td>Managing resources</td>
                <td>Handling resource allocation, line balancing, and strategic decision-making to maximize productivity and efficiency.</td>
            </tr>
            <tr>
                <td>Communication</td>
                <td>Collaborating with line chiefs, supervisors, and other team members to achieve production goals and maintain adherence to safety guidelines.</td>
            </tr>
            <tr>
                <td>Managing production</td>
                <td>Analyzing production reports, identifying issues, and implementing corrective actions to improve overall performance.</td>
            </tr>
        </tbody>
    </table>
</div>
