<div class="container">
    <h3> Line Name: {{machineListInLayout[0].assemblyLineName}}</h3>
    <div id="body">
        <div *ngFor="let machine of machineListInLayout; index as i;" class="row">
            <div [ngStyle]="{'background-color':congestionStatus[i].congestionStatus=='true' ? 'yellow' : 'cyan' }">
            <div class="stats col-sm-12" [ngStyle]="{'border': congestionStatus[i].markedStatus==1 ? '4px groove red' : '1px solid black'}" [ngStyle]="{'border': congestionStatus[i].markedStatus==1 ? '4px groove red' : '1px solid black'}">
                <button *ngIf="!congestionStatus[i].markedStatus" (click)="markWorkstation(machine.machineId,1)">Mark Workstation</button>
                <button *ngIf="congestionStatus[i].markedStatus==1" (click)="markWorkstation(machine.machineId,0)">Unmark Workstation</button>

                
                {{machine.machineModel}}, 
                {{machine.perHourProduction}}
                <button (click)="showCongestionImage('http://localhost:1401/congestion/image' + congestionStatus[i].imageFileUrl)"> View Congestion Status</button>
            </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" (click)="gotoLayoutEdit()">Edit Layout</button>
</div>