<div class="container">
    <h3>Production Target: {{productionTarget}} </h3>
    <h3 id="currentProduction">Current Production : 0</h3>
    <h3> Line Name: {{machineListInLayout[0].assemblyLineName}}</h3>
    <div id="body">
        <div *ngFor="let machine of machineListInLayout; index as i;" class="row">
            <div *ngIf="congestionStatus[i].markedStatus==1" class="congestion col-sm-1">
                MARKED!
            </div>
            <div class="stats col-sm-9">
                <button *ngIf="congestionStatus[i].markedStatus==0" (click)="markWorkstation(machine.machineId,1)">Mark Workstation</button>
                <button *ngIf="congestionStatus[i].markedStatus==1" (click)="markWorkstation(machine.machineId,0)">Unmark Workstation</button>

                
                {{machine.machineModel}}, 
                {{machine.perHourProduction}}
                <button (click)="showCongestionImage('http://localhost:1401/congestion/image' + congestionStatus[i].imageFileUrl)"> View Congestion Status</button>
            </div>
            <div *ngIf="congestionStatus[i].congestionStatus==true" class="congestion col-sm-2">
                CONGESTION DETECTED!
            </div>
        </div>
    </div>

    <button class="btn btn-primary" (click)="gotoLayoutEdit()">Edit Layout</button>
</div>