.sidebar{
    background: rgb(221, 221, 221);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    margin-left: 5px;
}

.sidebarItems{
    padding: 10px 20px;
    border-bottom: 1px solid black;
    color: black;
    background: rgb(209, 232, 245);
    margin-bottom: 5px;
    font-size: 12px;
}

.sidebarLogo{
    margin-bottom: 10px;
}

.sidebarLogo img {
    width: 130px;
    margin-left: 45px;
}

.selected{
    background: rgb(8, 12, 14);
    color: wheat;
}

li {
    list-style-type : none;
    margin-left: -31px;
}
.footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.footer button{
    width: 200px;
    margin-left: 11px;
    height: 50px;
    margin-bottom: 20px;
}

.navImg{
    width: 34px;
    display: inline;
}