
<div class="sidebar">
  <div class="sidebarLogo">
    <a [routerLink]="['/home']">
      <img src="../../assets/alms-transparent.png" width="200px">
    </a>
  </div>

  <ul *ngFor="let navItem of navItems; let i = index" [attr.data-index]="i">
    <a [routerLink]="[navItem.routerLink]" class="nav-item nav-link">
      <li (click)="makeSelected(i)" class="sidebarItems">
        <mat-icon>{{navItem.icon}}</mat-icon>
        {{navItem.itemName}}
      </li>
    </a>
  </ul>

  <div class="footer">
    <button class="btn btn-primary logoutBtn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> 
      Logout
    </button>
  </div>
</div>

