    <!--Start New Production-->
<div class="row" id="startProduction">
    <div class="p-5 text-center bg-light">
        <h4 class="mb-3">Start New Production</h4>
    </div>

    <div class="form-group">
        <label for="designFile">Upload Product Design File:</label>
        <input type="file" class="form-control" id="designFile">
    </div>
    <div class="form-group">
        <label for="totalProductionTarget">Set total Production Target:</label>
        <input type="number" class="form-control" id="totalProductionTarget">
    </div>

    <!--
    <div class="form-group">
        <label for="assignedLCId">Assign LC(User Id):</label>
        <input type="number" class="form-control" id="assignedLCId">
    </div>
    -->

    <div id="assemblyLinesForProduction">
        <h5> Select Assembly Lines for production: </h5>
    </div> 
    <script>populateAssemblyLineList()</script>

    <!--<button type="submit" class="btn btn-default" onclick="registerTotalProductionTarget()">Submit</button>-->

    <button class="btn btn-default" (click)="loadLayoutPage()">Set Assembly Line Layout</button>
    <button class="btn btn-default" (click)="saveProductionRegistrationInDatabase()">Finalize</button>

</div>
