
<div class="row">
    <div class="col-sm-5" style="margin-top: 50px;">
        As an Line Chief User, your contributions are integral to ensuring smooth assembly line operations, promoting productivity, and driving the success of the manufacturing process.
        <figure>
        <blockquote class="blockquote">
            <p>  </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Owner of the <cite title="Source Title">Versatile Garments Ltd.</cite>
        </figcaption>
        </figure>
    </div>

    <div class="col-sm-7">
        <img src="../../../assets/admin-about-picture.jpg">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-5">
        <img src="../../../assets/line-chief-about.jpg">
    </div>
    <div class="col-sm-7 aboutInfo">
        <h3>Who is Line Chief?</h3>
        <p>The line chief is a key position responsible for overseeing a specific assembly line, coordinating activities, and ensuring the smooth operation of the production line under their control.
        </p>
    </div>
</div>

<hr>

<div class="row" style="margin-top:50px;">
    <table class="table table-striped">
        <thead style="background-color: black; color: white;">
            <tr>
                <th>Responsibility</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Monitoring day to day production</td>
                <td>Defining and monitoring hourly targets for each workstation on the assembly line, ensuring efficient workflow and meeting production goals.</td>
            </tr>
            <tr>
                <td>Efficiency and Issue Resolution Management</td>
                <td>Identifying and addressing issues such as congestion, worker learning difficulties, machine malfunctions, and line balancing problems to maintain optimal productivity.</td>
            </tr>
            <tr>
                <td>Improve production</td>
                <td>Collaborating with supervisors, production managers, and other team members to address production challenges, implement line balancing adjustments, and optimize overall assembly line performance.</td>
            </tr>
        </tbody>
    </table>
</div>
