
<div class="row">
    <div class="col-sm-5" style="margin-top: 50px;">
        As an Admin User, your contributions are integral to ensuring smooth assembly line operations, promoting productivity, and driving the success of the manufacturing process.
        <figure>
        <blockquote class="blockquote">
            <p>  </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Owner of the <cite title="Source Title">Versatile Garments Ltd.</cite>
        </figcaption>
        </figure>
    </div>

    <div class="col-sm-7">
        <img src="../../../assets/admin-about-picture.jpg">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-5">
        <img src="../../../assets/admin-image.jpeg">
    </div>
    <div class="col-sm-7">
        <h3>Who is Admin?</h3>
        <p>The Admin User plays a crucial role in the Assembly Line Management System, overseeing the efficient operation of assembly lines and managing various administrative tasks. As an Admin User, you have privileged access and responsibilities within the system.</p>
    </div>
</div>

<hr>

<div class="row" style="margin-top:50px;">
    <table class="table table-striped">
        <thead style="background-color: black; color: white;">
            <tr>
                <th>Responsibility</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>User Management</td>
                <td>Managing user accounts and permissions is another vital responsibility of the Admin User. You can create and manage user profiles, assign roles, and control access levels for different users within the system.</td>
            </tr>
            <tr>
                <td>Data and Performance Monitoring</td>
                <td>The Admin User has access to comprehensive data and performance metrics of the assembly lines. You can monitor real-time production data, analyze historical performance, and generate reports to assess efficiency and identify areas for improvement.</td>
            </tr>
            <tr>
                <td>Troubleshooting and Maintenance</td>
                <td>In case of any technical issues or system malfunctions, the Admin User is responsible for troubleshooting and resolving problems promptly. Regular system maintenance, updates, and backups are also within your purview.</td>
            </tr>
            <tr>
                <td>Configuring Assembly Lines</td>
                <td>As an Admin User, you can configure and set up assembly lines by defining the layout, assigning machines, and specifying production targets. You have the authority to modify assembly line configurations as needed.</td>
            </tr>
        </tbody>
    </table>
</div>
