
<div class="row">
    <div class="col-sm-5" style="margin-top: 50px;">
        As an supervisor User, your contributions are integral to ensuring smooth assembly line operations, promoting productivity, and driving the success of the manufacturing process.
        <figure>
        <blockquote class="blockquote">
            <p>  </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Owner of the <cite title="Source Title">Versatile Garments Ltd.</cite>
        </figcaption>
        </figure>
    </div>

    <div class="col-sm-7">
        <img src="../../../assets/admin-about-picture.jpg">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-5">
        <img src="../../../assets/supervisor-about.jpg">
    </div>
    <div class="col-sm-7 aboutInfo">
        <h3>Who is Supervisor?</h3>
        <p>A supervisor is a key member of the assembly line management team who oversees the day-to-day operations, ensuring smooth workflow and adherence to production targets. They provide guidance and support to workers, address issues promptly, and maintain quality control throughout the assembly process.
        </p>
    </div>
</div>

<hr>

<div class="row" style="margin-top:50px;">
    <table class="table table-striped">
        <thead style="background-color: black; color: white;">
            <tr>
                <th>Responsibility</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Monitoring Workstations</td>
                <td>Supervisors are responsible for closely monitoring the performance of workstations on the assembly line, ensuring that tasks are executed efficiently and meeting the required production targets.</td>
            </tr>
            <tr>
                <td>Issue Resolution</td>
                <td>They promptly address any issues or challenges that arise during production, such as worker learning difficulties, machine malfunctions, or line balancing problems, to minimize disruptions and maintain optimal productivity.</td>
            </tr>
            <tr>
                <td>Quality Control</td>
                <td>Supervisors are tasked with ensuring the quality of products by implementing quality control measures, conducting inspections, and promptly addressing any quality issues or rejections.</td>
            </tr>
            <tr>
                <td>Backpropagation and Line Balancing</td>
                <td>They utilize backpropagation information to identify congestion or bottlenecks in workstations and collaborate with the line chief and production manager to implement line balancing adjustments as necessary.</td>
            </tr>
            <tr>
                <td>Reporting and Communication</td>
                <td>Supervisors maintain effective communication with the line chief, production manager, and other team members, providing regular reports on production progress, challenges, and any adjustments required to meet production goals.</td>
            </tr>
        </tbody>
    </table>
</div>
