<p style="margin-top: 30px;">Set additional information for particular product and productions for viewers. Viewers are the management of the company.</p>
<hr>

<div class="row">
    <div class="col-sm-9">
        <img src="../../../assets/Versatile-garments-products.png" alt="">
    </div>
    <div class="col-sm-3">
        <div class="form-floating">
            <select class="form-control" name="role" [(ngModel)]="productionId" id="selectProduct">
              <option value="1">Select Product</option>
              <option *ngFor="let product of productList" [ngValue]="product.productionId">{{product.productName}}</option>
            </select>
            <label for="selectProduct">Select Product:</label>
        </div> 
        
        <div class="form-group" style="margin-top: 30px;">
            <textarea class="form-control" rows="9" [(ngModel)]="viewerInfo"></textarea>
        </div>
        
        <button class="btn btn-primary" (click)="setViewerInfo()">Save Info </button> <br>
        <span>{{viewerInfoRequestStatus}}</span>
    </div>
</div>
